{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/no-cycle": "off",
    "react/prop-types": 0,
    "react/no-danger": 0,
    "no-underscore-dangle": "off"
  },
  "plugins": [
    "prettier"
  ]
}